/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* for jQuery Mobile ui-loader element */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }
#bubbles{
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 100;

	text{
		font-family: codelight, Helvetica;
		font-size: 22px;
		word-spacing: 4px;
		letter-spacing: 2px;
		display: none;
	}

	g:hover {
		cursor: pointer;

		text{
			display: inline;
		}
		text.grouped{
			display: none;
		}
	}
}

@font-face {
  font-family: codelight;
  src: url("../assets/fonts/codelight.otf");
}
iframe{
	position: fixed;

	height: 80%;
	height: -webkit-calc(100% - 120px); /* Chrome 19 and above */
    height:    -moz-calc(100% - 120px); /* Firefox 4 and above */
    height:         calc(100% - 120px); /* IE 9 and above */

	width: 100%;
	top: 120px;
	z-index: -100;

	background-position:center;
	background-repeat: no-repeat;
	background-size: 30%;
}
body{
	overflow: hidden;
	min-width: 768px;
}

h2{
	position: absolute;
	top: 40px;
	right: 35px;
	font-size: 1.8em;
	z-index: 101;
	font-family: codebold, Helvetica;
}

@font-face {
  font-family: codebold;
  src: url("../assets/fonts/codebold.otf");
}