#bubbles{
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	height: 120px;

	g{
		text{
			font-family: readeblock, codelight, Helvetica;
			font-size: 12px;
			word-spacing: 6px;
			letter-spacing: 2px;
		}
	}

	g:hover:not(.reade){
		cursor: pointer;

		text{
			display: inline !important;
		}
	}

	&.grouped{
		-webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);

		g:hover{
			cursor: pointer;
			text{
				display: none !important;
			}
		}
	}

	&.transition{
		g:hover{
			text{
				display: none !important;
			}
		}
	}

	g:hover, &.grouped{
		&.reade{
			cursor: move; /* fallback if grab cursor is unsupported */
		    cursor: grab;
		    cursor: -moz-grab;
		    cursor: -webkit-grab;

		    svg{
		    	fill: #4b2e83;
		    }
		}

		&.coachseek, .coachseek{
			svg{
				fill: #00A478;
			}
		}

		&.rbt, .rbt{
			svg{
				fill: #00B4FF;
			}
		}

		&.rivertop, .rivertop{
			svg{
				fill: #002857;

				.st0{
					stroke: #FF6C0C;
				}
			}
		}

		&.globe, .globe{
			svg{
				.map{
					fill:green;
				}
				.fly-dots{
					fill: #FF6C0C;
				}
				.plane{
					fill: #FF6C0C;
				}
			}
		}

		&.grapher, .grapher{
			svg{
				polygon{
					fill: #00ABDF;
				}
				path{
					fill: #36AF33;
				}
			}
		}

		&.resume, .resume{
			svg{
				fill: #008cc9;
			}
		}

		&.where-is-reade, .where-is-reade{
			svg{
				fill: #9476FF;
			}
		}
	}
}